/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.bg-light-gray {
    background-color: #f8f9fa;
}

/* Styling av bilderna i projektsektionen */
.project-image {
    width: 100%;
    height: 200px; /* Sätter en fast höjd för alla bilder */
    object-fit: cover; /* Ser till att bilderna skalas och beskärs proportionerligt */
}

.about-me-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #f0f0f0;
}
/* Ny CSS-klass för grå bakgrund */
.bg-gray {
    background-color: #6c757d; /* Bootstrap gray color */
    color: white;
    padding: 10px;
    text-align: center;
}
.contact-form {
    max-width: 600px; /* Max bredd i CSS */
    margin: 0 auto; /* Centrerar formuläret */
}

.bg-custom-purple {
    background-color: #6a1b9a;/* Purple color progressbar*/
}